{% extends 'accounts/base.html' %}
{% load static %}
{% block content %}
<div class="col-lg-6 col-md-12">

    <p class="h5 text-center mb-4">Watch our "2 min progress" videos</p>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/pGxU9qT9Z_I" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
  <!--/Grid column-->

<br>
        <div class="ibox-content profile-content">
            <h4><strong></strong></h4>
           
            <h5>
                A sneak peek into our lastest projects
            </h5>
            <br>
            <p>
                We know you will sleep better at night if you know the process behind Buildlet
                <br>
                <br>
                Here we take you through it all land acquisition,building and renting </p>
            <div class="row m-t-md">

                </div>
            </div>
        </div>
    </div>
</div>

</div>
</div>
{% endblock %}


